.jobPosted{
    border:1px solid rgb(195, 193, 193);
    padding:7vh;
    /* width: 50vh; */
    /* height: 50vh; */
    margin: 30px;
    border-radius: 20px;
    background-color: rgb(245, 238, 238);
    /* background-image: linear-gradient(#FCDDB0, #F4C2C2); */
}

.allCards{
    background-color:  rgb(242, 242, 253);
    margin-top: 5vh;
}
