.jobCard1{
    /* background-color: #B6D0E2; */
    background-color: rgb(251, 233, 203);
}
.jobCard2{
    background-color: rgb(224, 222, 248);
}

.fullCard{
    margin-top: 5vh;
}

.jobCard1,
.jobCard2 {
  box-shadow: 5px 5px 10px #49494986;
  display: flex;
  height:30vh;
  border-radius: 20px;
  /* height: 20vh; */
  width: 19%;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  flex-direction: column;
}

