.navbar {
  background-color: #232423;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.loginButton {
  padding: 0.7rem 2rem;
  border-radius: 30px;
  border: 1px solid black;
  background-color: rgb(175, 242, 253);
  color: black;
  margin: 5px;
}

.registerButton {
  padding: 0.7rem 1.4rem;
  border-radius: 30px;
  border: 1px solid black;
  background-color: rgb(175, 242, 253);
  color: black;
  margin: 5px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .findJobButton,
  .JobButton {
    width: 100%;
  }

  .filterButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    width: 100px;
    border: none;
    border-radius: 20px;
    color: #232423 !important;
    background-color: white;
  }
}
