span {
  font-size: 1em;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.405);
  border-radius: 2vh;
  width: 18vw;
  max-width: 20vw;
  height: min-content;
  padding: 2vh 1vw;
  margin: 2%;
  text-align: center;
  flex: 1.5;
  position: sticky;
  top: 15vh;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.filters div {
  width: 100%;
}

.dropdown {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA3klEQVR4nO3YSwrCMBRG4eMOVQwZ6OoVQfGxgQqVQgsiSe0zucX/QGdJuR+hgxSUUkoppZTqmQPuwBlYY68NcAGegI8tWgE3oKyfom1xhnw9UzPfo5452PVjoSWM/0KU9azRtoENuTE+MlM1a2u7wMYXcCDPN1sEZtl3fYEFjBuLsIBxUyFyYtzUiBwYNxciJWZ2RApMMsScmOSIOTDZEFNisiOmwJhBjMGYQwzBmEX0wZhHdMEsBvHr7mDtjjP4ZBZzEl0xi0LEMItENFW/lE7A0ejvJaWUUkop9U+9AdnJ7S7GX9jsAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 95%;
  appearance: none;
  border: 1px solid grey;
  border-radius: 30px;
  height: 5vh;
  width: 100%;
  padding: 0 1vw;
}
