.formBox {
  width: 60%;
  border-radius: 10px;
  margin: 4%;
  margin: 2vh auto;
  color: hsl(187, 85%, 69%);
  padding: 2vw;
}

::placeholder {
  text-align: left;
  padding: 0;
  margin: 0;
}

input, select, textarea{
  background-color: rgb(237, 237, 237) !important;
}
