.formBox {
  background: #30343f;
  width: 40%;
  border-radius: 10px;
  margin: 4%;
  box-shadow: 1px 1px 30px grey;
  margin-left: 30%;
  color: #6ce4f3;
  padding: 2vw;
}

::placeholder {
  text-align: left;
  padding: 0;
  margin: 0;
}
