.formBox {
  width: 60%;
  border-radius: 10px;
  margin: 4%;
  margin: 2vh auto;
  color: white;
  padding: 2vw;
  background-color: rgb(65, 64, 64);
}

.background_image {
  padding: 0%;
  background-size: "cover";
  background-repeat: "no-repeat";
  background-position: "center center";
  display: flex;
  margin: auto;
  background-color: #90e0ef;
}

.headingColor {
  color: #9bf6fd;
}

.inputDimensions {
  padding: 1.3%;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: "2px solid grey";
  margin-bottom: 2%;
}

::placeholder {
  text-align: left;
  padding: 0;
  margin: 0;
  width: 100%;
}

.input {
  background-color: rgb(245, 245, 245) !important;
}

.imageDim {
  border-top-right-radius: "20px";
  padding: "2%";
  margin-left: "25%";
}
