#dash {
  background-color: #B6D0E2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  /* width: 50%; */
}

#findJobButton {
  padding: 0.7rem;
  border-radius: 30px;
  border: 1px solid black;
  background-color: white;
  width: 10vw;
  color: black;
  
}

#card 
{
  border-radius: 50px;
  margin-top: 10vh;
  border: 1px solid rgb(168, 166, 166);
  margin-bottom: 5vh;
  box-shadow: 4px 4px 4px #535f67;
  width: 50vw;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
}

::placeholder {
  text-align: center;
}

@media screen and (max-width: 990px) {
  #dash{
  height: 85vh;
  /* margin-top: -2vh; */

  }
  #card {
      flex-direction: column;
  margin-top: 2vh;

  }
  #card input{
      margin: 10px;   
      padding: 10px;
  }
  #card select{
      margin: 10px;
      padding: 10px;
  }
  #card button{
      margin: 10px;
      padding: 10px;
  }
}

@media screen and (max-width: 1161px) {
  #card {
      /* flex-direction: column; */
    width: 60vw;;
  }
}


